CustomerServiceManager/src/main/resources/netsuite.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.customerdetails.customerservice.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ServicePlanWSService" targetNamespace="http://webservice.customerdetails.customerservice.com/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.customerdetails.customerservice.com/" elementFormDefault="unqualified" targetNamespace="http://webservice.customerdetails.customerservice.com/" version="1.0">
<xs:element name="getServicePlan" type="tns:getServicePlan"/>
<xs:element name="getServicePlanResponse" type="tns:getServicePlanResponse"/>
<xs:complexType name="getServicePlan">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getServicePlanResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:servicePlan"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="servicePlan">
<xs:sequence>
<xs:element minOccurs="0" name="end_date" type="xs:string"/>
<xs:element minOccurs="0" name="id" type="xs:int"/>
<xs:element minOccurs="0" name="service_plan" type="xs:string"/>
<xs:element minOccurs="0" name="start_date" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="getServicePlanResponse">
<wsdl:part element="tns:getServicePlanResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="getServicePlan">
<wsdl:part element="tns:getServicePlan" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="ServicePlanWS">
<wsdl:operation name="getServicePlan">
<wsdl:input message="tns:getServicePlan" name="getServicePlan"></wsdl:input>
<wsdl:output message="tns:getServicePlanResponse" name="getServicePlanResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ServicePlanWSServiceSoapBinding" type="tns:ServicePlanWS">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getServicePlan">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getServicePlan">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getServicePlanResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ServicePlanWSService">
<wsdl:port binding="tns:ServicePlanWSServiceSoapBinding" name="ServicePlanWSPort">
<soap:address location="http://localhost:8080/UtilityWebService/services/serviceplan"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>